<!DOCTYPE html>
{% load staticfiles crispy_forms_tags pie_tags %}
<html>
<head>
    <title>{% block titile %}Hello{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
</head>
<body>
    <ul>
        {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
    </ul>
    <div class="container">
        <div class="row">
            <div class="span8">
                {% block content %}{% endblock %}
            </div>
            <div class="span4">
                {% magic_number_tag %}
                {% crispy order_form order_form.helper %}
            </div>
        </div>
    </div>
</body>
</html>